.cv-by-mehedi-hasan .md-mehedi-hasan {
  margin-bottom: 9px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 15px;
  color: #000000;
}
.cv-by-mehedi-hasan .ui-ux-designer {
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 12px;
  color: #000000;
}
.cv-by-mehedi-hasan .contact {
  margin-bottom: 8px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 12px;
  color: #000000;
}
.cv-by-mehedi-hasan .vector-2 {
  margin: 4px 5px 0 0;
  width: 11px;
  height: 8px;
}
.cv-by-mehedi-hasan .mehedihasankhan-153-gmail-com {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 10px;
  color: #000000;
}
.cv-by-mehedi-hasan .vector-3 {
  margin: 2px 5px 0 0;
  width: 11px;
  height: 11px;
}
.cv-by-mehedi-hasan .container {
  margin-bottom: 1px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 10px;
  color: #000000;
}
.cv-by-mehedi-hasan .vector-4 {
  width: 8px;
  height: 12.9px;
}
.cv-by-mehedi-hasan .joydevpur-gazipur-bangladesh {
  margin-bottom: 1.9px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 10px;
  color: #000000;
}
.cv-by-mehedi-hasan .portfolio {
  margin-bottom: 10px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 10px;
  color: #000000;
}
.cv-by-mehedi-hasan .group-3 {
  margin: 1px 4px 0 0;
  width: 12px;
  height: 12px;
}
.cv-by-mehedi-hasan .www-behance-netmehedihasankhan-1 {
  margin-bottom: 1px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 10px;
  color: #000000;
}
.cv-by-mehedi-hasan .vector-5 {
  width: 12px;
  height: 12px;
}
.cv-by-mehedi-hasan .www-dribbble-commehedihasan-5851 {
  margin-bottom: 1px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 10px;
  color: #000000;
}
.cv-by-mehedi-hasan .hard-skills {
  margin-bottom: 13px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 12px;
  color: #000000;
}
.cv-by-mehedi-hasan .problem-solving {
  margin: 0 17.8px 9px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 10px;
  color: #000000;
}
.cv-by-mehedi-hasan .wireframing {
  margin-bottom: 9px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 10px;
  color: #000000;
}
.cv-by-mehedi-hasan .responsive-design {
  margin: 0 4.7px 9px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 10px;
  color: #000000;
}
.cv-by-mehedi-hasan .usability-testing {
  margin: 0 15.9px 9px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 10px;
  color: #000000;
}
.cv-by-mehedi-hasan .prototyping {
  margin-bottom: 9px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 10px;
  color: #000000;
}
.cv-by-mehedi-hasan .high-fidelity-design {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 10px;
  color: #000000;
}
.cv-by-mehedi-hasan .technical-skills {
  margin-bottom: 9px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 12px;
  color: #000000;
}
.cv-by-mehedi-hasan .vector-10 {
  margin-right: 9px;
  width: 11px;
  height: 17px;
}
.cv-by-mehedi-hasan .figma {
  margin: 1px 0 4px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 10px;
  color: #000000;
}
.cv-by-mehedi-hasan .group-32 {
  margin-bottom: 3px;
  width: 140px;
  height: 7px;
}
.cv-by-mehedi-hasan .group-4 {
  width: 12px;
  height: 12px;
}
.cv-by-mehedi-hasan .adobe-xd {
  margin-bottom: 2px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 10px;
  color: #000000;
}
.cv-by-mehedi-hasan .group-33 {
  margin-bottom: 5px;
  width: 140px;
  height: 7px;
}
.cv-by-mehedi-hasan .group-5 {
  margin: 1px 8px 0 0;
  width: 12px;
  height: 12px;
}
.cv-by-mehedi-hasan .adobe-photoshop {
  margin-bottom: 1px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 10px;
  color: #000000;
}
.cv-by-mehedi-hasan .group-34 {
  margin-bottom: 3px;
  width: 140px;
  height: 7px;
}
.cv-by-mehedi-hasan .group {
  margin: 2px 9px 0 0;
  width: 12px;
  height: 12px;
}
.cv-by-mehedi-hasan .adobe-illustrator {
  margin-bottom: 2px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 10px;
  color: #000000;
}
.cv-by-mehedi-hasan .group-35 {
  width: 140px;
  height: 7px;
}
.cv-by-mehedi-hasan .interest {
  margin-bottom: 14px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 12px;
  color: #000000;
}
.cv-by-mehedi-hasan .research {
  margin: 0 11.9px 2px 11.9px;
  width: 11px;
  height: 14px;
}
.cv-by-mehedi-hasan .research-1 {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 10px;
  color: #000000;
}
.cv-by-mehedi-hasan .vector-16 {
  margin: 0 4.6px 5px 12px;
  width: 12px;
  height: 12px;
}
.cv-by-mehedi-hasan .travel {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 10px;
  color: #000000;
}
.cv-by-mehedi-hasan .vector-15 {
  margin: 0 11.3px 4px 12px;
  width: 15px;
  height: 12px;
}
.cv-by-mehedi-hasan .reading {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 10px;
  color: #000000;
}
.cv-by-mehedi-hasan .pen {
  margin: 0 7.8px 6px 17px;
  width: 12px;
  height: 12px;
}
.cv-by-mehedi-hasan .writting {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 10px;
  color: #000000;
}
.cv-by-mehedi-hasan .rectangle-1 {
  opacity: 0.05;
  background: #000000;
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 280px;
  height: 842px;
}
.cv-by-mehedi-hasan .cv-profile {
  position: absolute;
  left: 53px;
  top: 49px;
  width: 88px;
  height: 91.3px;
}
.cv-by-mehedi-hasan .md-mehedi-hasan {
  margin-bottom: 9px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 15px;
  color: #000000;
}
.cv-by-mehedi-hasan .ui-ux-designer {
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 12px;
  color: #000000;
}
.cv-by-mehedi-hasan .group-16 {
  margin-bottom: 28px;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  width: fit-content;
  box-sizing: border-box;
}
.cv-by-mehedi-hasan .contact {
  margin-bottom: 8px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 12px;
  color: #000000;
}
.cv-by-mehedi-hasan .vector-2 {
  margin: 4px 5px 0 0;
  width: 11px;
  height: 8px;
}
.cv-by-mehedi-hasan .mehedihasankhan-153-gmail-com {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 10px;
  color: #000000;
}
.cv-by-mehedi-hasan .group-22 {
  margin-bottom: 13px;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.cv-by-mehedi-hasan .vector-3 {
  margin: 2px 5px 0 0;
  width: 11px;
  height: 11px;
}
.cv-by-mehedi-hasan .container {
  margin-bottom: 1px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 10px;
  color: #000000;
}
.cv-by-mehedi-hasan .group-21 {
  margin-bottom: 8px;
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  width: fit-content;
  box-sizing: border-box;
}
.cv-by-mehedi-hasan .vector-4 {
  width: 8px;
  height: 12.9px;
}
.cv-by-mehedi-hasan .group-1 {
  margin: 1px 8px 0 0;
  display: flex;
  width: 8px;
  height: 12.9px;
  box-sizing: border-box;
}
.cv-by-mehedi-hasan .joydevpur-gazipur-bangladesh {
  margin-bottom: 1.9px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 10px;
  color: #000000;
}
.cv-by-mehedi-hasan .group-20 {
  margin-right: 14.4px;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.cv-by-mehedi-hasan .group-45 {
  margin-bottom: 28.1px;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  width: fit-content;
  box-sizing: border-box;
}
.cv-by-mehedi-hasan .portfolio {
  margin-bottom: 10px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 10px;
  color: #000000;
}
.cv-by-mehedi-hasan .group-3 {
  margin: 1px 4px 0 0;
  width: 12px;
  height: 12px;
}
.cv-by-mehedi-hasan .www-behance-netmehedihasankhan-1 {
  margin-bottom: 1px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 10px;
  color: #000000;
}
.cv-by-mehedi-hasan .group-24 {
  margin: 0 0.1px 10px 0;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.cv-by-mehedi-hasan .vector-5 {
  width: 12px;
  height: 12px;
}
.cv-by-mehedi-hasan .group-2 {
  margin: 1px 5px 0 0;
  display: flex;
  width: 12px;
  height: 12px;
  box-sizing: border-box;
}
.cv-by-mehedi-hasan .www-dribbble-commehedihasan-5851 {
  margin-bottom: 1px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 10px;
  color: #000000;
}
.cv-by-mehedi-hasan .group-25 {
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.cv-by-mehedi-hasan .group-44 {
  margin: 0 4.7px 28px 0;
  display: flex;
  flex-direction: column;
  width: fit-content;
  box-sizing: border-box;
}
.cv-by-mehedi-hasan .hard-skills {
  margin-bottom: 13px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 12px;
  color: #000000;
}
.cv-by-mehedi-hasan .problem-solving {
  margin: 0 17.8px 9px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 10px;
  color: #000000;
}
.cv-by-mehedi-hasan .wireframing {
  margin-bottom: 9px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 10px;
  color: #000000;
}
.cv-by-mehedi-hasan .responsive-design {
  margin: 0 4.7px 9px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 10px;
  color: #000000;
}
.cv-by-mehedi-hasan .usability-testing {
  margin: 0 15.9px 9px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 10px;
  color: #000000;
}
.cv-by-mehedi-hasan .prototyping {
  margin-bottom: 9px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 10px;
  color: #000000;
}
.cv-by-mehedi-hasan .high-fidelity-design {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 10px;
  color: #000000;
}
.cv-by-mehedi-hasan .group-43 {
  margin-bottom: 28px;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  width: fit-content;
  box-sizing: border-box;
}
.cv-by-mehedi-hasan .technical-skills {
  margin-bottom: 9px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 12px;
  color: #000000;
}
.cv-by-mehedi-hasan .vector-10 {
  margin-right: 9px;
  width: 11px;
  height: 17px;
}
.cv-by-mehedi-hasan .figma {
  margin: 1px 0 4px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 10px;
  color: #000000;
}
.cv-by-mehedi-hasan .group-28 {
  margin-bottom: 3px;
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  width: fit-content;
  box-sizing: border-box;
}
.cv-by-mehedi-hasan .group-32 {
  margin-bottom: 3px;
  width: 140px;
  height: 7px;
}
.cv-by-mehedi-hasan .group-4 {
  width: 12px;
  height: 12px;
}
.cv-by-mehedi-hasan .x-33-x-2-cxd-x-2-cadobe {
  margin: 2px 8px 0 0;
  display: flex;
  width: 12px;
  height: 12px;
  box-sizing: border-box;
}
.cv-by-mehedi-hasan .adobe-xd {
  margin-bottom: 2px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 10px;
  color: #000000;
}
.cv-by-mehedi-hasan .group-29 {
  margin-bottom: 2px;
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  width: fit-content;
  box-sizing: border-box;
}
.cv-by-mehedi-hasan .group-33 {
  margin-bottom: 5px;
  width: 140px;
  height: 7px;
}
.cv-by-mehedi-hasan .group-5 {
  margin: 1px 8px 0 0;
  width: 12px;
  height: 12px;
}
.cv-by-mehedi-hasan .adobe-photoshop {
  margin-bottom: 1px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 10px;
  color: #000000;
}
.cv-by-mehedi-hasan .group-30 {
  margin-bottom: 4px;
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  width: fit-content;
  box-sizing: border-box;
}
.cv-by-mehedi-hasan .group-34 {
  margin-bottom: 3px;
  width: 140px;
  height: 7px;
}
.cv-by-mehedi-hasan .group {
  margin: 2px 9px 0 0;
  width: 12px;
  height: 12px;
}
.cv-by-mehedi-hasan .adobe-illustrator {
  margin-bottom: 2px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 10px;
  color: #000000;
}
.cv-by-mehedi-hasan .group-31 {
  margin-bottom: 5px;
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  width: fit-content;
  box-sizing: border-box;
}
.cv-by-mehedi-hasan .group-35 {
  width: 140px;
  height: 7px;
}
.cv-by-mehedi-hasan .group-42 {
  margin-bottom: 25px;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  width: fit-content;
  box-sizing: border-box;
}
.cv-by-mehedi-hasan .interest {
  margin-bottom: 14px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 12px;
  color: #000000;
}
.cv-by-mehedi-hasan .research {
  margin: 0 11.9px 2px 11.9px;
  width: 11px;
  height: 14px;
}
.cv-by-mehedi-hasan .research-1 {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 10px;
  color: #000000;
}
.cv-by-mehedi-hasan .group-40 {
  margin: 2px 19.1px 0 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  box-sizing: border-box;
}
.cv-by-mehedi-hasan .vector-16 {
  margin: 0 4.6px 5px 12px;
  width: 12px;
  height: 12px;
}
.cv-by-mehedi-hasan .travel {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 10px;
  color: #000000;
}
.cv-by-mehedi-hasan .group-39 {
  margin: 1px 16.4px 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.cv-by-mehedi-hasan .vector-15 {
  margin: 0 11.3px 4px 12px;
  width: 15px;
  height: 12px;
}
.cv-by-mehedi-hasan .reading {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 10px;
  color: #000000;
}
.cv-by-mehedi-hasan .group-38 {
  margin: 2px 16.7px 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.cv-by-mehedi-hasan .pen {
  margin: 0 7.8px 6px 17px;
  width: 12px;
  height: 12px;
}
.cv-by-mehedi-hasan .writting {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 10px;
  color: #000000;
}
.cv-by-mehedi-hasan .group-37 {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.cv-by-mehedi-hasan .container {
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.cv-by-mehedi-hasan .group-41 {
  display: flex;
  flex-direction: column;
  width: fit-content;
  box-sizing: border-box;
}
.cv-by-mehedi-hasan .group-52 {
  position: relative;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.cv-by-mehedi-hasan .rectangle-1 {
  opacity: 0.05;
  background: #000000;
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 280px;
  height: 842px;
}
.cv-by-mehedi-hasan .cv-profile {
  position: absolute;
  left: 53px;
  top: 49px;
  width: 88px;
  height: 91.3px;
}
.cv-by-mehedi-hasan .a-41 {
  background: #FFFFFF;
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  padding: 0 0 27px 53px;
  height: 100%;
  box-sizing: border-box;
}
.cv-by-mehedi-hasan .education {
  margin-bottom: 8px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 12px;
  color: #000000;
}
.cv-by-mehedi-hasan .institution-model-institute-of-science-and-technology-under-national-university {
  margin: 0 1px 9px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 10px;
  color: #000000;
}
.cv-by-mehedi-hasan .degree-bachelor-of-science-bsc {
  margin-bottom: 9px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 10px;
  color: #000000;
}
.cv-by-mehedi-hasan .subject-computer-science-and-engineering-cse {
  margin-bottom: 9px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 10px;
  color: #000000;
}
.cv-by-mehedi-hasan .result-gpain-progress-last-secemter {
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 10px;
  color: #000000;
}
.cv-by-mehedi-hasan .group-47 {
  position: relative;
  margin-bottom: 29px;
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  width: fit-content;
  box-sizing: border-box;
}
.cv-by-mehedi-hasan .work-experience {
  margin-bottom: 15px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 12px;
  text-transform: capitalize;
  color: #000000;
}
.cv-by-mehedi-hasan .hi-this-is-mehedi-in-the-last-1-years-of-my-ui-ux-designing-carrier-ihave-always-tried-to-make-more-creative-challenging-projects-than-others-ifell-interested-to-do-web-mobile-app-ui-ux-and-other-designs-im-looking-forward-to-100-customer-satisfaction-deadline-ialways-try-to-be-creative-want-to-do-challenging-projects-thanks {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 10px;
  line-height: 1.8;
  color: #000000;
}
.hi-this-is-mehedi-in-the-last-1-years-of-my-ui-ux-designing-carrier-ihave-always-tried-to-make-more-creative-challenging-projects-than-others-ifell-interested-to-do-web-mobile-app-ui-ux-and-other-designs-im-looking-forward-to-100-customer-satisfaction-deadline-ialways-try-to-be-creative-want-to-do-challenging-projects-thanks-sub204 {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 10px;
  line-height: 1.333;
}
.hi-this-is-mehedi-in-the-last-1-years-of-my-ui-ux-designing-carrier-ihave-always-tried-to-make-more-creative-challenging-projects-than-others-ifell-interested-to-do-web-mobile-app-ui-ux-and-other-designs-im-looking-forward-to-100-customer-satisfaction-deadline-ialways-try-to-be-creative-want-to-do-challenging-projects-thanks-sub203 {
  font-family: 'Inter';
  font-weight: 600;
  font-size: 10px;
  line-height: 1.333;
}
.hi-this-is-mehedi-in-the-last-1-years-of-my-ui-ux-designing-carrier-ihave-always-tried-to-make-more-creative-challenging-projects-than-others-ifell-interested-to-do-web-mobile-app-ui-ux-and-other-designs-im-looking-forward-to-100-customer-satisfaction-deadline-ialways-try-to-be-creative-want-to-do-challenging-projects-thanks {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 10px;
  line-height: 1.333;
}
.cv-by-mehedi-hasan .group-53 {
  position: relative;
  margin: 0 0 23px 250.4px;
  display: flex;
  flex-direction: column;
  width: fit-content;
  box-sizing: border-box;
}
.cv-by-mehedi-hasan .soft-skills {
  margin-bottom: 14px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 12px;
  color: #000000;
}
.cv-by-mehedi-hasan .client-interviewing {
  margin-bottom: 8px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 10px;
  color: #000000;
}
.cv-by-mehedi-hasan .requirments-gathering {
  margin: 0 0.2px 8px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 10px;
  color: #000000;
}
.cv-by-mehedi-hasan .presentation {
  margin-bottom: 8px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 10px;
  color: #000000;
}
.cv-by-mehedi-hasan .project-management {
  margin: 0 10.8px 8px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 10px;
  color: #000000;
}
.cv-by-mehedi-hasan .resource-management {
  margin-bottom: 8px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 10px;
  color: #000000;
}
.cv-by-mehedi-hasan .business-planning {
  margin-bottom: 8px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 10px;
  color: #000000;
}
.cv-by-mehedi-hasan .market-research {
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 10px;
  color: #000000;
}
.cv-by-mehedi-hasan .group-51 {
  position: relative;
  margin: 0 0 30px 141.9px;
  display: flex;
  flex-direction: column;
  width: fit-content;
  box-sizing: border-box;
}
.cv-by-mehedi-hasan .career-objective {
  margin-bottom: 10px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 12px;
  color: #000000;
}
.cv-by-mehedi-hasan .as-ayoung-professional-iwould-like-to-service-in-any-organization-where-deed-are-highly-appreciated-and-to-build-up-my-career-in-achallenging-and-rewarding-position-at-awinning-organization-where-creativity-sincerity-skill-and-performance-are-the-criteria-ones-appraisal-and-recognition {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 10px;
  line-height: 1.8;
  color: #000000;
}
.cv-by-mehedi-hasan .group-54 {
  position: relative;
  margin: 0 0 13px 250.2px;
  display: flex;
  flex-direction: column;
  width: fit-content;
  box-sizing: border-box;
}
.cv-by-mehedi-hasan .languages {
  margin-bottom: 10px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 600;
  font-size: 12px;
  color: #000000;
}
.cv-by-mehedi-hasan .english {
  margin-bottom: 11px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 10px;
  color: #000000;
}
.cv-by-mehedi-hasan .bangla {
  margin-bottom: 6px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 10px;
  color: #000000;
}
.cv-by-mehedi-hasan .hindi {
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 10px;
  color: #000000;
}
.cv-by-mehedi-hasan .group-50 {
  position: relative;
  margin-left: 96.9px;
  display: flex;
  flex-direction: column;
  width: fit-content;
  box-sizing: border-box;
}
.cv-by-mehedi-hasan {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 44px 43.6px 30px 43.6px;
  box-sizing: border-box;
}
